.design-Section {
    padding: 44px 15px;
    background: $secondary;
    color: #fff;
    font-weight: 500;

    h2 {
        font-weight: 700;
        font-size: 32px;
    }

    p {
        margin: 0;
    }

    img {
        height: 220px;
        width: 100%;
        @include md() {
            object-fit: contain;
            height: 285px;
        }

        @include xl() {
            object-fit: cover;
        }
    }

    &:nth-child(2n+1) {
        color: $secondary;
        background: #fff;
    }

    @include md() {
        padding: 0;
        @include sectionPadding(80px,52px);
    }
}
