@mixin sectionPadding($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin sectionMargin($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin timeLine($color) {
    content: "";
    position:absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translate(-50%,-25%);
    background-color: $color;
}