.timeline {
    &-section {
        position: relative;
        @include sectionMargin(32px,28px);
        &::after {
            content: "";
            position:absolute;
            left: 0;
            right: 0;
            height: 3px;
            background-color: $primary;
        }
    }

    &-pointer {
        position: relative;
        display: flex;
        justify-content: center;

        &-status {
            padding-top: 8px;
            margin: 0;
            color:#000;
            font-weight: 300;
            &.active {
                font-weight: 700;
            }
        }

        &::before {
            @include timeLine(#fff);
            border: 1px solid $primary ;
            z-index: 2;
        }

        &.done {
            &::before {
                @include timeLine($primary);
            }
        }
    }
}